<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Update Status</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-title class="content-title">Current status is: {{myOpionion}} </ion-title>
  <ion-list class="status-list">
    <ion-radio-group [(ngModel)]="myOpionion" class="radio-group">
      <ion-item lines="none" class="radio-item">
        <ion-label class="radio-label">Happy</ion-label>
        <ion-radio slot="start" value="happy" class="radio"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="radio-item">
        <ion-label class="radio-label">Sad</ion-label>
        <ion-radio slot="start" value="sad" class="radio"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="radio-item">
        <ion-label class="radio-label">Energetic</ion-label>
        <ion-radio slot="start" value="energetic" class="radio"></ion-radio>
      </ion-item>
      <ion-item lines="none" class="radio-item">
        <ion-label class="radio-label">Lazy</ion-label>
        <ion-radio slot="start" value="lazy" class="radio"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-button expand="block" class="save-button" (click)="saveStatus()">Save</ion-button>
</ion-content>
